/* Main body */
body {
  font-family: "Playfair Display SC", serif;
  color: darkslategrey;
  background-color: #ebc8ff;
  font-size: 16px;
}
/* Navigation */
nav {
  width: 100vw;
  margin: 0;
  padding: 0;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  margin: 1vh;
}
#dropdown > ul {
  position: absolute;
  display: none;
  list-style-type: none;
  background: #ebc8ff;
}
#dropdown:hover > ul {
  display: flex;
  flex-direction: column;
}
#dropdown:focus > ul {
  display: flex;
}
/* Header */
header {
  background-color: darkslategrey;
  color: #ebc8ff;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  background-image: url("https://picsum.photos/2200/1000");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 40vw;
}
header h1 {
  font-size: 2em;
  margin: 0 1px 0 0.3em;
}
header h2 {
  font-size: 1.5em;
  margin: 0 1px 0 0.3em;
}
header div{
  background-color: rgba(32, 32, 32, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Tags: General */
a {
  text-decoration: underline;
  color: darkslategrey;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
