body {
  font-family: "Playfair Display SC", serif;
  color: darkslategrey;
  background-color: #EBC8FF;
  font-size: 1em;
}
header {
  background-color: darkslategrey;
  color: #EBC8FF;
}
a {
  text-decoration: underline;
  color: darkslategrey;
}
#headimg {
  float: right;
  display: block;
}
